body {
  background-color: #f8f1f1;
  font-size: large;
  color: #5eaaa8;
}
hr {
  background-color: transparent;
  border-style: dotted;
  border-width: 11px 0 0 0;
  border-color: #a3d2ca;
  width: 10%;
}
h1 {
  color: #db6400;
}
h3 {
  color: #db6400;
}
a {
  color: #db6400;
}
.profilePicture {
  background:linear-gradient(320deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  padding: 7px;
  border-radius: 100%;
}
.profilePicture:hover {
  background:linear-gradient(320deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  padding: 7px;
  border-radius: 75%;
}
.name {
  text-shadow: 2px 2px 1.7px brown;
}
.name:hover{
  color: brown;
  text-shadow: 2px 2px 60px #db6400;
}
hr:hover {
  border-color: brown;
}
