body {
  background-color: #252a34;
  font-family: "Product Sans", sans-sans-serif;
  font-size: large;
  color: #eaeaea;
}
hr {
  background-color: transparent;
  border-style: dotted;
  border-width: 11px 0 0 0;
  border-color: #ff2e63;
  width: 8%;
}
hr:hover{
  animation: animationForHorizontalRule;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
@keyframes animationForHorizontalRule {
  from {width: 8%;}
  to {width: 25%;
  border-color: #252a34;}
}
h1 {
  color: white;
}
h3 {
  color: #ff2e63;
}
a {
  color: #ff2e63;
}
.profilePicture {
  background:linear-gradient(320deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  padding: 7px;
  border-radius: 100%;
}
.profilePicture:hover {
  background:linear-gradient(320deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  padding: 7px;
  border-radius: 75%;
}
.name {
  letter-spacing: 1.5px;
  text-shadow: 2.9px 2px 1.7px #ff2e63;
  animation-name: animationForText;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2.2;
}
.name:hover{
  animation: animationForHoverText;
  animation-duration: 0.25s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
hr:hover {
  border-color: #ff2e63;
}
@keyframes animationForText {
  from{text-shadow: 0.1px 0.1px 1.7px #ff2e63;}
  to {text-shadow: 3.2px 2.1px 2px #ff2e63;}
}

/*
@keyframes animationForHoverText {
  0% {letter-spacing: normal;}
  12% {letter-spacing: 0.5px}
  25% {letter-spacing: 1px;}
  37% {letter-spacing: 1.5px}
  50% {letter-spacing: 2px;}
  63% {letter-spacing: 2.5px;}
  75% {letter-spacing: 3px;}
  87% {letter-spacing: 3.5px;}
  100% {letter-spacing: 4px;}
  87% {letter-spacing: 3.5px;}
  75% {letter-spacing: 3px;}
  63% {letter-spacing: 2.5px;}
  50% {letter-spacing: 2px;}
  37% {letter-spacing: 1.5px}
  25% {letter-spacing: 1px;}
  12% {letter-spacing: 0.5px}
  0% {letter-spacing: normal;}
}
*/
